*.vip
builds/

# Libraries
*.lvlibp
*.llb
*.nupkg

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/


microsoft.web.webview2/**/*.*
!/microsoft.web.webview2/build/**/*.dll
!/microsoft.web.webview2/lib/**/*.dll
!/microsoft.web.webview2/*.txt