*.vip
builds/

# Libraries
*.lvlibp
*.llb
*.nupkg

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/


/Source/microsoft.web.webview2/**/*.*
!/Source/microsoft.web.webview2/build/**/*.dll
!/Source/microsoft.web.webview2/lib/**/*.dll
!/Source/microsoft.web.webview2/*.txt